
// Colors
$color-green-dark: #45B97C;   /*绿*/
//$color-green-dark: #3DA481;   /*绿*/
$color-green-mid: #65C294;    /*若竹*/
//$color-green-mid: lighten($color-green-dark, 5%);    /*若竹*/
$color-green-light: #65C294;

$color-pink-dark: #F05B72;    /* 蔷薇色 */
$color-pink-mid: #EF5B9C;     /* 踯躅色 */
$color-pink-light: #F7ACBC;   /* 鸨色 */

$color-black: #130C0E;        /* 黒 */
$color-black-dark: #464547;   /* 墨 */
$color-black-mid: #3E4145;    /* 黒橡 */
$color-black-light: #72777B;  /* 铅色 */

// Font path

// Some
$pagination-color: #00b5ad;
$input-border-focus: #00b5ad;
$link-color: #464547;